<?xml version="1.0"  encoding="utf-8" ?>
<common>
  <!--
		-->
  <core
		cacheFactor="5"  version="1" disableBackgroundThreads="false">
    <appSettings>
      <add key="MSSqlServer" value="1VtGb0vAKq+wWFHGOH+L1xg2hnQ4qOIYvug+A/nlbtjbtkBTSeCzPbVQmZHiqtied6pYAscBgxbRuVjHyext2ywaLvQSBwCo"/>
      <add key="MSSqlServerOwner" value=""/>
      <add key="key" value="23456456"/>
    </appSettings>
    <providers>
      <add
      name = "MSSQLCommonDataProvider"
      type = "HX.DALSQLServer.CommonSqlDataProvider,HX.DALSQLServer"
      connectionStringName = "MSSqlServer"	databaseOwnerStringName = "MSSqlServerOwner"
				/>
    </providers>
    <providers>
      <add
      name = "MSSQLCarDataProvider"
      type = "HX.DALSQLServer.CarSqlDataProvider,HX.DALSQLServer"
      connectionStringName = "MSSqlServer"	databaseOwnerStringName = "MSSqlServerOwner"
				/>
    </providers>
  </core>
  <jobs minutes = "1" singleThread = "true">
    <job name = "RefreshBackadminCacheJob" type = "Hx.TaskAndJob.Job.RefreshBackadminCacheJob,HX.TaskAndJob" enabled = "true" enableShutDown = "false" singleThread = "false" minutes="1"/>
    <job name = "BenzvoteAccountJob" type = "Hx.TaskAndJob.Job.BenzvoteAccountJob,HX.TaskAndJob" enabled = "true" enableShutDown = "false" singleThread = "false" minutes="1"/>
  </jobs>

</common>
