<?xml version="1.0"  encoding="utf-8" ?>
<common>
  <!--
		-->
  <core
		cacheFactor="5"  version="1" disableBackgroundThreads="false">
    <appSettings>
      <add key="imgserver" value="http://rb.hongxu.cn"/>
      <add key="resourceserver" value="http://rb.hongxu.cn"/>
      <add key="MSSqlServer" value="I5xj7IFqQ5yUyoE8OTKPltD1Y2gdSCD+D7gqpklCB/eepuXFVXY73pcI3KR0sNDxJStUU287O+9+auALlMC1DA=="/>
      <add key="MSSqlServerOwner" value=""/>
      <add key="key" value="23456456"/>
    </appSettings>
    <providers>
      <add
      name = "MSSQLCommonDataProvider"
      type = "HX.DALSQLServer.CommonSqlDataProvider,HX.DALSQLServer"
      connectionStringName = "MSSqlServer"	databaseOwnerStringName = "MSSqlServerOwner"
				/>
    </providers>
    <providers>
      <add
      name = "MSSQLCarDataProvider"
      type = "HX.DALSQLServer.CarSqlDataProvider,HX.DALSQLServer"
      connectionStringName = "MSSqlServer"	databaseOwnerStringName = "MSSqlServerOwner"
				/>
    </providers>
  </core>
  <jobs minutes = "1" singleThread = "true">
    <job name = "RefreshBackadminCacheJob" type = "Hx.TaskAndJob.Job.RefreshBackadminCacheJob,HX.TaskAndJob" enabled = "true" enableShutDown = "false" singleThread = "false" minutes="1"/>
    <job name = "BenzvoteAccountJob" type = "Hx.TaskAndJob.Job.BenzvoteAccountJob,HX.TaskAndJob" enabled = "false" enableShutDown = "false" singleThread = "false" minutes="1"/>
    <job name = "JituanvoteAccountJob" type = "Hx.TaskAndJob.Job.JituanvoteAccountJob,HX.TaskAndJob" enabled = "false" enableShutDown = "false" singleThread = "false" minutes="1"/>
    <job name = "WeixinCommentJob" type = "Hx.TaskAndJob.Job.WeixinCommentJob,HX.TaskAndJob" enabled = "false" enableShutDown = "false" singleThread = "false" minutes="1"/>
    <job name = "VoteRecordAccountJob" type = "Hx.TaskAndJob.Job.VoteAccountJob,HX.TaskAndJob" enabled = "true" enableShutDown = "false" singleThread = "false" minutes="1"/>
    <job name = "VoteCommentJob" type = "Hx.TaskAndJob.Job.VoteCommentJob,HX.TaskAndJob" enabled = "true" enableShutDown = "false" singleThread = "false" minutes="1"/>
    <job name = "DailyReportJob" type = "Hx.TaskAndJob.Job.DailyReportJob,HX.TaskAndJob" enabled = "true" enableShutDown = "false" singleThread = "false" minutes="1"/>
  </jobs>

</common>
