<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="logPath" value="log/" />
  </appSettings>
	<system.web>
    <httpRuntime requestValidationMode="2.0"/>
		<compilation debug="true" targetFramework="4.0"/>
		<authentication mode="Forms"></authentication>
		<sessionState mode="InProc" cookieless="false" timeout="700"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<handlers>
			<add verb="*" name="checkcode" path="checkcode.axd" type="Hx.Components.HttpHandler.CheckCodeHandler,Hx.Components"/>
			<add verb="*" name="checkadminuser" path="checkadmin.axd" type="Hx.Components.HttpHandler.CheckAdminUserNameHandler,Hx.Components"/>
			<add verb="*" name="backadminaction" path="backadminaction.axd" type="Hx.BackAdmin.HttpHandler.BackAdminActionHandler,Hx.BackAdmin"/>
      <add verb="*" name="weixinaction" path="weixinaction.axd" type="Hx.BackAdmin.HttpHandler.WeixinActionHandler,Hx.BackAdmin"/>
      <add verb="*" name="cutimage" path="cutimage.axd" type="Hx.Components.HttpHandler.NewCutImageHandler,Hx.Components"/>
		</handlers>
		<defaultDocument>
			<files>
				<add value="index.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
