/* 通用样式 */
html,body,table,iframe{border:0;padding:0;margin:0;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,iframe{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ul,ol,li{list-style:none;}
tr{height:30px;}
textarea{border:1px solid #aeaeae;}
body{font-size:12px;border:none;}
a{text-decoration:none;color:#3b5998;}
.vt{vertical-align:top;}
.vc{vertical-align:middle;}
.vb{vertical-align:bottom;}
.fr{float:right;}
.fl{float:left;}
.tr{text-align:right;}.tc{text-align:center;}.tl{text-align:left;}
.hide{display:none;}
.splitr{border-right:1px solid #000;}
.white{color:White!important;}.gray{color:Gray;}.red{color:Red;}.green{color:Green;}
.bold{font-weight:bold;}
.strong{font-weight:bold;font-size:large;}
.dis{color:Gray!important;}
.blockinline{display:inline-block;*display:inline;*zoom:1;}
.lh24{line-height:24px!important;}
.lh20{line-height:20px!important;}
.w20{width:20px!important;}
.w30{width:20px!important;}
.w40{width:40px!important;}
.w50{width:40px!important;}
.w60{width:60px!important;}
.w70{width:70px!important;}
.w80{width:80px!important;}
.w100{width:100px!important;}
.w120{width:120px!important;}
.w160{width:160px!important;}
.w200{width:200px!important;}
.w220{width:220px!important;}
.w230{width:230px!important;}
.w240{width:240px!important;}
.w260{width:260px!important;}
.w280{width:280px!important;}
.w300{width:300px!important;}
.bfb10{width:10%;}
.bfb12{width:12%;}
.bfb20{width:20%;}
.bfb30{width:30%;}
.pl10{padding-left:10px!important;}
.pl20{padding-left:20px!important;}
.ml10{margin-left:10px!important;}
.ml20{margin-left:20px!important;}
.mt10{margin-top:10px!important;}

.left_nav{width:122px; float:right; line-height:30px; font-size:14px; font-weight:700; letter-spacing:1px; text-align:left; padding-left:50px;}
	.left_nav a{background:url(../images/sj.gif) no-repeat left center; padding-left:12px; color:#07519a; text-decoration:none;display:block;}
	.left_nav a:hover{background:url(../images/sj2.gif) no-repeat left center; color:#e00;}
	.left_nav .current{background:url(../images/sj2.gif) no-repeat left center; color:#e00;}
.right_nav{height:31px; line-height:31px; padding-left:15px;background-color:#E66C0D;}
	.right_nav a{color:#fff; text-decoration:none; letter-spacing:1px; padding:9px 8px; margin:0 2px;}
	.right_nav a:hover{color:#07519a; padding:9px 8px; margin:0 2px; background:#f5fbff;}
	.right_nav .nohover:hover{color:#fff; text-decoration:none; letter-spacing:1px; padding:9px 8px; margin:0 2px;background:none;}
	.right_nav span a{color:#07519a; padding:9px 8px; margin:0 2px; background:#f5fbff;}
	.right_nav .current{color:#07519a; padding:9px 8px; margin:0 2px; background:#f5fbff;}
.r_sy{height:27px; line-height:27px; background:url(../images/xxd.gif) repeat-x; padding-left:15px; color:#555;}.r_sy a{color:#555;}

.ht_main{margin:15px 0 0 20px; clear:both;}

.xnav{clear:both; margin-bottom:10px; overflow-x:hidden; overflow-y:hidden;}
	.xnav li{float:left; font-weight:700; margin-right:15px; text-align:center;}
		.xnav .current{-moz-background-clip:border; -moz-background-origin:padding; -moz-background-size:auto auto; background-attachment:scroll; background-color:transparent;
					background-image:url("../images/btn_block_3.gif"); background-position:0 0; background-repeat:no-repeat; color:#fff;}
	.xnav a{color:#333; display:block; line-height:20px; white-space:nowrap;}
	.xnav .current a{-moz-background-clip:border; -moz-background-origin:padding; -moz-background-size:auto auto; background-attachment:scroll; background-color:transparent;
					background-image:url("../images/btn_block_3.gif"); background-position:right -20px; background-repeat:no-repeat; padding:0 10px; color:#fff;}
	.xnav a span{display:block; padding:0 7px;}

/* 内容部份 */
.bt0{font-size:14px; font-weight:700; letter-spacing:2px; color:#2981e3; line-height:30px;}
.bt1{line-height:20px; border-bottom:1px dashed #deeffb; margin:0; padding:5px 0 5px 10px; overflow:hidden;}.bt1:hover{background:#f4f8fc;}
	.bt1 dl{color:#555; font-weight:700;}
	.bt1 dl dt{width:270px; float:left; font-weight:100;}.bt1 dl dt p{margin:0; padding:5px 0; list-style:none; width:150px; float:left;}
	.bt1 dl dd{float:left; color:#999; font-weight:100;}.bt1:hover dl dd{float:left; color:#000;}
.bt2{height:32px; line-height:32px; background:url(../images/bt2.gif) repeat-x; padding-left:10px; color:#07519a; font-weight:700;}
	.bt2x{line-height:24px; border-bottom:1px dashed #deeffb; padding:3px 10px;}
.bt3{padding:12px 0 6px 5px;}
.bttj{padding:10px;}

.biaoge1{}.biaoge1 td{padding:3px;}
.biaoge2{}.biaoge2 tr:hover{background:#f4f8fc;}.biaoge2 td{padding:1px 3px; text-align:left; border-bottom:1px dashed #deeffb;}.biaoge2 td img{vertical-align:middle;}
	.bgbt{font-weight:700; line-height:20px;background-color: rgb(242, 249, 255);}
	.bgbt a{color:Blue;}
	.bgbt a:hover{color:Blue;text-decoration:none;}
	.biaoge2 td.yul{color:#333; line-height:16px;}.biaoge2 td.yul:hover{color:#8e0000;}
.biaoge3{}.biaoge3 td{border-bottom:1px dashed #deeffb; padding:5px 3px;}
	.biaoge3 img{border:1px solid #d7d7d7; padding:2px; width:120px; height:160px; margin-bottom:5px;}
.biaoge4{}.biaoge4 td{border-bottom:1px dashed #deeffb; padding:5px 3px;}
.biaoge5{}.biaoge5 td{border-bottom:1px dashed #deeffb; padding:0px;}

	.bg1{width:100px; text-align:right;}
	.bg2{width:330px; text-align:left;}
	.bg3{width:200px; text-align:left;}
	.bg21{width:35px; text-align:center;}
	.bg4{width:160px;}.bg5{width:400px;}
	.dq1{width:250px;}.dq2{width:250px; background:url(../images/line.gif) no-repeat -50px 3px; text-indent:55px;}
	.dq3{width:250px; background:url(../images/line.gif) no-repeat 5px 3px; text-indent:110px;}
	.dq4{width:250px; background:url(../images/line.gif) no-repeat 5px -47px; text-indent:110px;}

	.bg1new{width:350px; text-align:right;}
	.ss1{line-height:20px; border-bottom:1px dashed #deeffb; margin:0; padding:6px 0 5px 10px; overflow:hidden;}.ss1:hover{background:#f4f8fc;}
		.ss1 dl{color:#555; font-weight:700;}
		.ss1 dl dt{width:270px; float:left;}
		.ss1 dl dd{float:left; color:#999; font-weight:100;}.ss1:hover dl dd{float:left; color:#000;}

.xbg{border-bottom:1px dashed #bfdefd; line-height:24px; padding-top:3px; height:26px;}
	.xbg .li1{float:left; width:50px; text-align:center;}
	.xbg .li2{float:left; width:420px; text-align:left; height:26px; overflow:hidden;}
	.xbg .li3{float:left; width:70px; text-align:center;}
	.xbg .li4{float:left; width:150px;}

.shk{width:240px; margin:10px 20px 0 0; border:1px solid #bbe3ff; float:left;}

.flqh{ clear:both;height:26px;}
	.flqh span{border:0; float:left; color:red; line-height:24px; padding:1px 8px;}
	.flqh span.dj{border:1px solid #b2d0ea; float:left; border-bottom:none; background:#f2f9ff; line-height:24px; padding:1px 12px 0 12px; margin:0px 2px;}
	.flqh span.dj a{color:#f00;}
#a1{display:block;}#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10,#a11,#a12,#a13,#a14,#a15,#a16,#a17,#a18,#a19,#a20{display:none;}

.view_yan1{width:90px; height:30px; font-size:14px; font-weight:700; background:url(../images/yan.gif); border:0; color:#fff; padding-left:20px; letter-spacing:1px;}
	.view_yan1:hover{background:url(../images/yan.gif) 0 -30px;}
.view_yan2{width:90px; height:30px; font-size:14px; font-weight:700; background:url(../images/yan.gif) 0 -60px; border:0; color:#fff; text-align:left; padding-left:12px; letter-spacing:1px;}
	.view_yan2:hover{background:url(../images/yan.gif) 0 -90px;}

.hidden{display:none;}
.fixed{position: fixed;height:30px;width: 100%;background: white;top: 0px;left: 0px;padding: 20px 0 0 20px;z-index: 9;}

/*链接样式*/
.lan5 a{color:#07519a; margin:0 5px;}.lan5 a:hover{color:#e00;}
.lan5x a{color:#07519a; margin:0 5px; text-decoration:underline;}.lan5x a:hover{color:#e00; text-decoration:none;}
.hei5 a{color:#333; background:#f5f5f5; border:1px solid #ddd; padding:5px 5px 2px 5px; margin:0 5px;}.hei5 a:hover{color:#fff; text-decoration:none; background:#666;}
.lan_lj {width:200px;}
.lan_lj a{color:#07519a;}.lan_lj a:hover{color:#e00;}
.lv_lj{color:#444;}.lv_lj a{color:#2c6106;}.lv_lj a:hover{color:#e00;}
.red{color:#f00;}
.red_lj a{color:#f00;}.red_lj a:hover{color:#e00;}
.h14_lj a{color:#e00; font-size:14px; font-weight:700; text-decoration:underline;}.h14_lj a:hover{color:#666; text-decoration:none;}

/*文字样式*/
.hot{color:#f40; font-weight:100;font-size:12px;}.new{color:#1ba20a; font-weight:100;font-size:12px;}.update{color:#007eff;font-size:12px; font-weight:100;}
.hui9{color:#999;}.culv{color:#2c6106; font-weight:700;}.hzi{color:#f00;}.zi{color:#fff; background:#90F;}
/*附助样式*/
.ff{clear:both;}.mato10{margin-top:10px;}.mar10{margin-right:10px;}#panel{display:none;}
.tl{text-align:left;}.tc{text-align:center;}.tr{text-align:right;}
.fll{float:left;}.flr{float:right;}

/*广告组样式*/
.gtdf{padding-left:17px!important;background:url(../images/fuhao.gif) no-repeat 2px 4px!important;}
.gtdfk{background:url(../images/fuhao.gif) no-repeat 2px -14px!important;}
.gtdn{padding-left:17px!important;}

/*弹框样式*/
.gl_k{width:310px; background:#fff url(../images/glk.gif) repeat-x; border:6px solid #dfdfdf;}
	.gl_k_bt{height:30px; line-height:30px; color:#07519a; font-weight:700; text-indent:10px;}
	.gl_k_nr{padding:4px 0 4px 8px; line-height:26px; clear:both;}
		.gl_k_nr li{width:100px; height:26px; float:left;}
		.ysk{height:24px; padding:6px;}
		.czcg{ background:url(../images/check.gif) no-repeat 0 3px; padding-left:25px; font-size:14px; margin:15px auto 10px; width:75px; font-weight:700; color:#2e8c00;}
.div_line{line-height:1px;font-size:1px;background:#d7d7d7;margin:0 auto; overflow:hidden;}

.gl_k_nr_s{display: inline-block;width: 250px!important;margin-left:20px;}
    .gl_k_nr_s li{width: 450px;}
    .gl_k_nr_s input{margin-left:20px;}
.switchsite{padding-left:10px;cursor:pointer;}
.lihidesitesub{padding-left: 20px;display:none;}
.sitefloat{}

/* 输入框样式 */
.srk1{width:250px; height:18px; border: 1px solid; border-color: #707070 #CECECE #CECECE #ABABAB; background: #F9F9F9;}
		.srk1:hover,.srk1:focus{border-color: #6FB1DF; color:#333; background-color:#f5f9fd;}
.srk2{width:250px; height:80px; font-size:12px; border: 1px solid; border-color: #707070 #CECECE #CECECE #ABABAB; background: #F9F9F9;}
		.srk2:hover,.srk2:focus{border-color:#6FB1DF; color: #333; background-color:#f5f9fd;}
.srk3{width:150px; height:18px; border: 1px solid; border-color: #707070 #CECECE #CECECE #ABABAB; background: #F9F9F9;}
		.srk3:hover,.srk3:focus{border-color: #6FB1DF; color:#333; background-color:#f5f9fd;}
.srk4{width:25px; height:18px; border: 1px solid; border-color: #707070 #CECECE #CECECE #ABABAB; background: #F9F9F9; text-align:center;}
		.srk4:hover,.srk4:focus{border-color: #6FB1DF; color:#333; background-color:#f5f9fd;}
	.srk42{width:25px; height:18px; border: 1px solid; border-color:#8200e0 #d69dff #d69dff #b957ff; background: #faf3ff; color:#8200e0; font-weight:700; text-align:center;}
			.srk42:hover,.srk42:focus{border-color: #8200e0; color:#8200e0; background-color:#faf3ff;}
.srk5{width:100px; height:18px; border: 1px solid; border-color: #707070 #CECECE #CECECE #ABABAB; background: #F9F9F9;}
		.srk5:hover,.srk5:focus{border-color: #6FB1DF; color:#333; background-color:#f5f9fd;}
.srk6{width:113px; height:18px; border: 1px solid; border-color: #707070 #CECECE #CECECE #ABABAB; background: #F9F9F9;}
		.srk6:hover,.srk6:focus{border-color: #6FB1DF; color:#333; background-color:#f5f9fd;}
.srk7{width:50px; height:18px; border: 1px solid; border-color: #707070 #CECECE #CECECE #ABABAB; background: #F9F9F9;}
		.srk6:hover,.srk6:focus{border-color: #6FB1DF; color:#333; background-color:#f5f9fd;}
.srk8{width:30px; height:12px; border: 1px solid; border-color: #707070 #CECECE #CECECE #ABABAB; background: #F9F9F9; font-size:10px;}
		.srk1:hover,.srk1:focus{border-color: #6FB1DF; color:#333; background-color:#f5f9fd;}
.srk9{width:10px; height:12px; border: 1px solid; border-color: #707070 #CECECE #CECECE #ABABAB; background: #F9F9F9; font-size:10px;}
		.srk1:hover,.srk1:focus{border-color: #6FB1DF; color:#333; background-color:#f5f9fd;}

.txtsearch{width:200px;border:1px solid #9f9f9f;padding: 7px 1px;}
.txtsearch1{width:80px;border:1px solid #9f9f9f;padding: 7px 1px;}

/*按钮样式*/
.an1{border:0; background:url(../images/and.gif) repeat-x; text-align:center; font-size:12px; height:24px; font-weight:700; text-align:center; color:#fff;padding:1px 7px;}
.an1dis{border:0; background:url(../images/bt2.gif) repeat-x; text-align:center; font-size:12px; height:24px; font-weight:700; text-align:center; color:#fff;padding:1px 7px;}
.an2{border-left:0;border-top:0;border-right:1px solid #888;border-bottom:1px solid #888; background:#e8e8e8; font-size:12px; color:#000; padding:4px 8px 1px 8px; margin:0 2px;}
.an3{border:0; background:url(../images/nt.jpg) no-repeat; font-size:12px; width:75px; height:22px; color:#fff; margin-bottom:5px;}
.an4{border:0; background:url(../images/and.gif) repeat-x; text-decoration:none!important;font-size:12px;line-height:24px;display:inline-block;*display:inline;*zoom:1;padding:0 5px; height:24px; font-weight:700;color:White!important;}

.nav{display:block;height:36px;width:100%;line-height:36px;background:#f8b87f;font-size:14px;border-bottom: 1px #777 solid;}
.nav li{float:left;}
.nav a{ text-decoration:none;color:#000;padding:0 10px;}
.nav .current a{font-weight:bold;color:#ec4d15;}
.header{background:url(../images/headerbg.png) repeat-x;display:block;height:36px;width:100%;}
.header h1{height:36px;line-height:36px;color:White;font-size:14px;padding-left:10px;display:inline-block;*display:inline;*zoom:1;float:left;}
.header span{margin-top:12px;padding-right:10px;display:block;width:142px;height:14px;}
.header span a{color:White;text-decoration:none;}
.header span a:hover{text-decoration:underline;}

.btn{background:url(../images/btnbg.png) repeat;border:none;color:White;}
.btn1{padding:7px 10px;}.btn2{padding:5px 10px;}
.hclose{border:none;background:url(../images/hclose.png) no-repeat;width:14px;height:14px;float:right;*float:none;margin-left:10px;cursor:pointer;}

.content{margin-top:10px;}

.mainc{width:100%;overflow-y:scroll;}
.main{width:960px;margin:10px auto;}
.ves{margin:0 0 20px 0;}
.ves table{border-left:1px solid #7e7e7e;border-right:1px solid #7e7e7e;border-bottom:1px solid #7e7e7e;}
.ves .vtitle{background:url(../images/vhead.png) no-repeat;height:20px;display:block;font-weight:bold;padding-left:15px;line-height:20px;}

#ulPics{border: 1px solid #000;width: 92%;height: 220px;padding: 15px 20px;}
#ulPics li{width: 100px;display: inline-block;*display:inline;*zoom:1;padding:5px 0;}
#ulPics li img{width:86px;height:56px;}
#ulPics li span{display: block;width: 86px;text-align: center;line-height:30px;}
#ulPics li label{display: block;width: 86px;text-align: center;line-height:22px;}
#ulPics li a{width:14px;height:14px;display:block;background:url(../images/picsdel.png) no-repeat;float:right;}

.psubmit{width:100%;text-align:center;padding:20px 0;}
.search{text-align:right;}
#psearch{text-align: left;}
#btnSearchswith{border:1px solid #a8a8a8;color:#6f6f6f;margin-right:20px;background:url(../images/btngray.png) repeat-x;line-height:20px;text-decoration:none;padding: 3px 7px;}
.pdtitle{border-width:1px 0px;border-style:solid;border-color:#9e9e9e;height:34px;margin-top:4px;width:100%;}
.pdtitle ul{width:100%;}.pdtitle ul li{display: block;float: left;line-height:34px;}
.pdlist{width:100%;}
.pdlist ul{width:100%;border-bottom:1px dashed #aeaeae;height:102px;padding:10px 0;}
.pdlist ul li{display: block;float: left;line-height: 20px;}
.pdlist ul li img{width: 120px;height: 78px;border: 1px solid #ccc;padding: 1px;}
.pdpage{height: 34px;border-top: 1px solid #9a9a9a;position: fixed;bottom: 0px;width: 100%;}

.market ul li{height:50px;}
.market ul li img{width:42px;height:27px;padding-top: 11px;padding-left: 11px;float:left;}
.market ul li .ttl{line-height:50px;padding-left:10px;color:#3b5998;font-weight:bold;}