<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings configSource="config\AppSettings.config" />
  <system.web>
    <pages validateRequest="false"></pages>
    <customErrors mode="Off">
    </customErrors>
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
    <authentication mode="Forms">
      <forms name="HongxuLogin" timeout="120" loginUrl="/login/" defaultUrl="/" path="/" slidingExpiration="true" domain="hongxu.com"></forms>
    </authentication>
    <compilation targetFramework="4.0" debug="true">
    </compilation>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <remove name="Session" />
      <remove name="PassportAuthentication" />
      <remove name="Profile" />
      <remove name="AnonymousIdentification" />
      <remove name="WindowsAuthentication" />
      <remove name="RoleManager" />
    </modules>
    <handlers>
      <!--<add verb="*" name="chapterimages" path="chapterimagefun.ashx" type="ILike.Web.HttpHandler.ChapterImageFun,ILike.Web" />-->
    </handlers>
  </system.webServer>
</configuration>
