body{margin:0; padding:0; font-size:12px;background-color:#282828;font-size:100%;}
ul{margin:0; padding:0; list-style:none;}li{margin:0; padding:0; list-style:none;}



.wrap{max-width: 640px;min-width: 320px;margin: 0 auto;overflow: hidden;position: relative;background-color:#474747;}
.content{border-top-style:dashed;border-top-width:1px;border-top-color:#fff;}
.d-pic{width:35%;display: inline-block;position: relative;}
    .d-pic img{width:100%;display:block;}
.flay{position:absolute;width:100%;height:100%;top: 0;left: 0;} .flay img{width:100%;}
.d-info{width:55%;display: inline-block;vertical-align: top;padding: 4% 0 0 3%;color:White;font-size: 1.0em;}
    .yellow{color:#ffb400;}
    .sn{width: 30%;display: inline-block;}
    .ballot{width: 60%;display: inline-block;line-height:200%;}
    .paiming{line-height: 200%;width: 35%;display: inline-block;}
    .fense{color:#ec0b8f}
.opt{width:100%;margin:4% 0 0 0;}
    .xiangqing{width:45%;display:inline-block;}.xiangqing img{width:75%;}
    .toupiao{width:45%;display:inline-block;}.toupiao img{width:75%;}

.content ul li{margin:3% 0 0 6%;}

.pager{text-align: center;margin:6% 0 0 0;}
    .pager dt{width:9.4%;display:inline-block;}
    .pager dt img{width:100%;}
    .pager dd{display:inline-block;color:White;margin:0;line-height: 200%;vertical-align: top;}
    


.dwrap{max-width: 640px;min-width: 320px;margin: 0 auto;overflow: hidden;position: relative;background-color:#f5f6e6;}
.c1{padding-top:6%;width:93%;margin:0 auto;}
.d-pic1{width:33%;display: inline-block;position: relative;background: #fff;padding: 1%;}
.d-pic1 img{width:100%;display:block;}
.detailinfo{width:60%;display: inline-block;vertical-align: top;padding: 2% 0 0 0;}
    .weitalapiao{width:50%;display:inline-block;}.weitalapiao img{width:90%;}
    .weitatoupiao{width:50%;display:inline-block;text-align:right;}.weitatoupiao img{width:90%;}
.cintro{padding-top:6%;width:93%;margin:0 auto;}
    .cintro dl{width: 25%;display: inline-block;vertical-align: top;margin: 0 0 3% 0;}
    .cintro dl img{width:90%;}
    .cintro dr{width: 70%;display: inline-block;}
    .cintro dr img{width:90%;margin:0 0 3% 0;}
    
    
.dad{width:100%;} .dad img{width:100%;display:block;}
.xuzhi{width:96%;margin:1% auto;font-size: 0.8em;color:#aaa;}