body{margin:0; padding:0; font-size:12px;background-color:#282828;font-size:100%;font-family: inherit;}
ul{margin:0; padding:0; list-style:none;}li{margin:0; padding:0; list-style:none;}
a{text-decoration:none;}
.fl{float:left;}
.fr{float:right;}
.yellow{color:#ffb400;}
.green{color:#003a45}

.wrap{max-width: 640px;min-width: 320px;margin: 0 auto;overflow: hidden;position: relative;background-color:#FFFFFF;}
.content{border-top-style:dashed;border-top-width:1px;border-top-color:#fff;}
.d-pic{width:35%;display: inline-block;position: relative;}
    .d-pic img{width:100%;display:block;}
.flay{position:absolute;width:100%;height:100%;top: 0;left: 0;display:none;} .flay img{width:100%;}
.d-info{width:55%;display: inline-block;vertical-align: top;padding: 4% 0 0 3%;color:White;font-size: 1.0em;}

    .sn{font-size:90%;display: inline-block;}
    .ballot{width: 60%;display: inline-block;line-height:200%;}
    .paiming{line-height: 200%;width: 35%;display: inline-block;}
    .fense{color:#ec0b8f}
.opt{width:100%;margin:4% 0 4% 0;}
    .xiangqing{width:45%;display:inline-block;margin-bottom:3px;}.xiangqing img{width:75%;}
    .toupiao{width:45%;display:inline-block;margin-bottom:3px;}.toupiao img{width:75%;}

    #dvComment{position:absolute;height:200px;width:90%;display:none;padding: 2% 5%;background: white;filter:alpha(opacity=50);z-index:999;}
        #txtComment{width:99%;height:95%;font-size:130%;}
        #btnCommentCancel{position: absolute;right: 30%;margin: -13% 0 0 0;background-color:Red;color:White;padding:1% 3%;}
        #btnCommentSubmit{position: absolute;right: 10%;margin: -13% 0 0 0;background-color:Green;color:White;padding:1% 3%;}
        #commentmsg{position: absolute;right: 10%;margin: -12% 0 0 0;color:Red;padding:1% 3%;}
.d-comment{padding: 0 3% 0 6%;}
    .commenthead{border-bottom: 1px solid #7c7c7c;padding-bottom: 5px;font-weight:bold;}
        .commenthead a{font-weight:normal;color:#333;border:0;padding:0;}
    .d-comment table{width:100%;}
    .dvcommentinfo{float:left;font-size:90%;}
    .dvcommentinfo span{color:Gray;}
    .dvcommentopt{float:right;font-size: 90%;}
    .dvcommentopt span{color:Gray;}
    .d-comment td{background: #FAFAFA;border: 1px solid #F4F4F4;border-radius: 3px;box-shadow: 2px 2px 2px #999;padding: 1% 2%;}
    .btnPraise{color:Red;}
    .btnBelittle{color:Orange;}
    .commentmore{display:none;}
    
    .btnDetail,.btnComment,.btnCommentMore{border:1px solid #003a45;padding:1% 2%;color:#003a45;border-radius: 5px;box-shadow: 1px 1px 1px #999;}
    .btnVote{border:1px solid Purple;padding:1% 2%;color:Purple;border-radius: 5px;box-shadow: 1px 1px 1px #999;}
    .btnDetail1{border:2px solid Orange;padding:3% 6%;color:Orange;font-size:90%;cursor:auto;}
    .btnDetail2{border-bottom:4px solid Orange;padding:3% 10%;color:Black;font-size:90%;cursor:auto;}

.content ul li{margin:3% 0 0 6%;}

.pager{text-align: center;margin:0 auto;line-height: 3em;height:3em;width:40%;color: white;}
    .pager dt{width:3em;}
    .pager dt img{width:100%;}
    .pager dd{display:inline-block;color:White;margin:0;line-height: 200%;vertical-align: top;}
    

#dvLoading{text-align:center;display:none;}

.dwrap{max-width: 640px;min-width: 320px;margin: 0 auto;overflow: hidden;position: relative;background-color:#FFFFFF;}
.c1{width:93%;margin:0 auto;}
.d-pic1{width:33%;display: inline-block;positi  on: relative;background: #fff;padding: 1%;overflow:hidden;}
.d-pic1 img{width:100%;display:block;}
.detailinfo{width:60%;display: inline-block;vertical-align: top;padding: 2% 0 0 0;}
    .weitalapiao{width:50%;display:inline-block;}.weitalapiao img{width:90%;}
    .weitatoupiao{width:50%;display:inline-block;text-align:right;}.weitatoupiao img{width:90%;}
.cintro{padding-top:6%;width:93%;margin:0 auto;}
    .cintro dl{width: 25%;display: inline-block;vertical-align: top;margin: 0 0 3% 0;}
    .cintro dl img{width:90%;}
    .cintro dr{width: 70%;display: inline-block;}
    .cintro dr img{width:90%;margin:0 0 3% 0;}
    
    
.dad{width:100%;} .dad img{width:100%;display:block;}
.xuzhi{width:96%;margin:1% auto;font-size: 0.8em;color:#aaa;}

.dflay{display:none;width:100%;height:100%;position:absolute;left:0;top:0;background:#000;filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;z-index:9999;}
.dflay img{width:100%;}
.nav{width: 93%;margin: 0 auto;padding: 1% 0;}
.nav img{width:10%}

.m-flay{position: absolute;top: 0;width: 100%;height: 100%;z-index: 10;display:none;}
.attention-content{width: 100%;position: relative;background: #fff;height: 24%;}
.attention-title{font-size: 1.2em;display: block;padding: 2px 0 0 4px;background: #ccc;color: #444;font-weight: bold;}
.attention-msg{text-align: center;vertical-align: middle;font-size: 80%;}